name: Arduino Build

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  build-esp8266:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install core and libraries
        run: |
          arduino-cli core update-index --additional-urls https://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core install esp8266:esp8266@3.0.2 --additional-urls https://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli lib install "Adafruit BusIO"
          arduino-cli lib install "Adafruit SSD1306"
          arduino-cli lib install "Adafruit GFX Library"
          arduino-cli lib install PubSubClient

      - name: Compile Alpha2MQTT (ESP8266)
        run: |
          arduino-cli compile -e --build-property build.extra_flags="-DESP8266 -DDEVICE_NAME=\"Alpha2MQTT-63\"" --fqbn esp8266:esp8266:nodemcuv2 Alpha2MQTT
          arduino-cli compile -e --build-property build.extra_flags="-DESP8266 -DDEVICE_NAME=\"Alpha2MQTT-54\"" --fqbn esp8266:esp8266:nodemcuv2 Alpha2MQTT
